.wrap-kelas{
    background: #f2ebeb;
    padding: 20px;
}

.wrap-kelas-disable{
    background: #f2ebeb;
    padding: 20px;
    color: #9f9d9d !important;
}

.disable {
    color: #9f9d9d !important;
}

.kelas-title {
    font-weight: bold;
    font-size: 14px;
}

.progress {
    background-color: #bdc0f0;
}

.dropdown-item a:hover {
    color: #00594D;
}

.icon-title {
    color: #FFC727;
    margin-right: 10px;
    font-size: 20px;
}

.rating {
    margin-top: -30px;
    margin-left: 10px;
}

.rating .checked {
    color: orange;
}

.image-cover {
    max-width: 80px;
    max-height: 80px;
    display: block;
    text-align: center;
}

.image-cover img {
    border-radius: 10% !important;
}

.rating-simulasi-star {
    margin-top: -30px;
}