
.rating-checked {
    color: orange;
}

.title-nilai-simulasi {
    line-height: 0 !important;
    margin-top: 15px;
}

.cursor-pointer {cursor: pointer;}

.disable {
    color: #9f9d9d !important;
}